* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #FAFAFA;
    background-image: url('../imagenes/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
}

button {
    display: flex;
    color: #FAFAFA;
    background-color: #F3603B;
    border-radius: 50px;
    height: 45px;
    border: none;
    padding: 20px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
button:hover {
    opacity: 0.5;
    cursor: pointer;
}

header div a {
    text-decoration: none;
    color: #242E52;
    margin: 20px;
    font-size: 14px;
}
header div a:hover{
    color: #B3B2B7;
}

h1, h2, h3, h4 {
    color: #242E52;
}

h1 {
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 15px;
    font-weight: 600;
}

p {
    color: #B3B2B7;
    line-height: 1.5;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 1440px;
}

.pagecenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.maxwidth {
    max-width: 1440px;
}

.textcenter {
    text-align: center;
}

.smallfont {
    font-size: 10px;
}

.number {
    display: flex;
    color: #FAFAFA;
    background-color: #F3603B;
    border-radius: 30px;
    width: 70px;
    border: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 600;
}

.mrg {
    margin-bottom: 30px;
}

.whitetext {
    color: #FAFAFA;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0px;
}

/* Header mobile*/
.navstyle {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

/* Section1 */
.section1 {
    display: flex;
    flex-direction: column;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;
}

/* Section2 */
.diftitle {
    display: flex;
    align-items: center;
    background-color: #f7edea;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
}

/* Start section */
.sectioncenter {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F3603B;
    background-image: url('../imagenes/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.imgstyle {
    width: 100%;
}

.button2 {
    display: flex;
    color: #F3603B;
    background-color: #FAFAFA;
    border-radius: 50px;
    height: 45px;
    width: 130px;
    border: none;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* Carousel */
.container{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 20px;
}

.carousel{
    display:block;
    width: 100%;
    height: 400px;
    background: #FAFAFA;
    overflow-x: scroll;
    padding: 10px;
    margin: 0;
    white-space: nowrap; 
}
.carousel::-webkit-scrollbar {
    display: none;
}

.item {
    display: inline-block;
    width: 335px;
    margin: 0 10px;
    height: 100%;
    position: relative;
    border-radius: 20px;
    background-color: #faf3f3;
    white-space: normal;
}

.userscard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pp {
    width: 100px;
    margin-bottom: 30px;
}

/* Footer */
.footstyle {
    background-color: #1E1E26;
    padding-top: 30px;
    display: flex;
    justify-content: center;    
}

.linkssection {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    height: 20vh;
}

.links {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.whitelink {
    color: #FAFAFA;
    text-decoration: none;
}

.whitelink:hover {
    color: #F3603B;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.formstyle {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 30px;
    border: none;
    margin: 10px;
    width: 220px;
}

.notshow {
    display: none;
}

.footflex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

i {
    color: #FAFAFA;
    font-size: 25px;
}
i:hover {
    color: #F3603B;
    cursor: pointer;
}

/* Header desk */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.navbar:hover {
    color: #F3603B;
}

.notmobile {
    display: none;
}


@media (min-width: 760px) {
    
    /* Seccion1 */
    .navbar {
        display: contents;
    }

    .menu {
        display: none;
    }

    .section1 {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imgstyle {
        order: 1;
        width: 50vh;
    }

    .card1 {
        width: 50vh;
        text-align: left;
        padding: 0%;
    }

    .button1 {
        align-self: flex-start;
        margin-top: 20px;
        margin-left: 0%;
    }

    p {
        padding: 20px 0px 0px 0px;
    }

    /* Section2 */
    .section2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px 0px 40px 0px;
    }
    
    .mrg {
        width: 50vh;
    }

    h2 {
        text-align: left;
    }

    .diftitle {
        background-color: #FAFAFA;
    }

    .desk {
        margin-left: 90px;
    }

    /* Carousel */
    .container:hover {
        overflow-x: scroll;
    }

    /* Seccion start now */
    .sectioncenter {
        background-image: url('../imagenes/bg-simplify-section-desktop.svg');
    }

    .start {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .button2 {
        align-self: center;
    }

    .whitetext {
        width: 50vh;
        text-align: left;
    }

    /* Carousel */
    .item {
        wid
        th: 60vh;
    }
    .fullcarousel {
        max-width: fit-content;
    }

    .comenttitle {
        text-align: center;
    }

    /* Footer */
    .notmobile {
        display: contents;
    }

    .order {
        order: 2;
    }

    .notdesk {
        display: none;
    }

    .footflex {
        flex-direction: row;
    }

    .linkssection {
        order: 1;
        justify-content: space-evenly;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        max-width: 300px;
    }

    .formbutton {
        margin: 10px;
    }
}

